body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f7ff;
  color: #333;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #0f172a;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #38bdf8;
}

/* LOGO */
.logo {
  color: #38bdf8;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #0f172a, #1e3a8a);
  color: white;
}

.hero span {
  color: #38bdf8;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: white;
}

/* SECTIONS */
section {
  width: 80%;
  margin: 30px auto;
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* SKILLS */
.box span {
  display: inline-block;
  background: #0f172a;
  color: white;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 20px;
  transition: 0.3s;
}

.box span:hover {
  transform: scale(1.1);
  background: #38bdf8;
  color: black;
}

/* PROJECT CARD */
.card {
  background: #f1f5f9;
  padding: 15px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  background: #0f172a;
  color: white;
}